.App{
  text-align:center;
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #232220;
  font-family: 'Open Sans', sans-serif;
}

.btn.btn-custom {
  color: white;
  background-color:#4e4c4f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9f8d8d;
  padding: 10px 20px;
}

.navbar-brand h2 {
  margin-top: 20px;
  display: flex;
  color: #232220;
  
}

.links {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-top: 50px;
  margin-left: 50px;
  color: white;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

body {
  background-color: #ffddba!important;
}

.container {
  padding:0em;
}