.App{
  text-align:center;
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #232220;
  font-family: 'Open Sans', sans-serif;
}

.btn.btn-custom {
  color: white;
  background-color:#4e4c4f;
}

.btn.btn-action {
  color: white;
  background-color: rgb(181, 149, 149);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9f8d8d;
  padding: 10px 20px;
}

.navbar-brand h2 {
  margin-top: 20px;
  display: flex;
  color: #232220;
}

.links {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-top: 50px;
  margin-left: 50px;
  color: white;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

body {
  background-color: #ffddba!important;
}

.container {
  min-height: 100vh;
  margin-bottom: 60px;
}

footer section{
  padding: 10px 13%;
  display: center;
  justify-content: space-between;
  align-items: start;
  background-color: rgb(243, 207, 207);
}

footer h3{
  font-size: 18px;
}

.custom-input {
  appearance: auto;
}